/* Global */
:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --border-radius-button: 4px;
  --border-radius-avatar: 50%;

  /* animation */
  --transition-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Nevbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: var(--color-white);
  padding: 16px;
  transition: all var(--transition-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-pink);
  padding: 6px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu {
  display: flex;
  padding: 8px 12px;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  color: var(--color-white);
  border: 1px solid transparent;
  border-radius: var(--border-radius-button);
}

.navbar__menu__item:hover {
  border-color: var(--color-white);
  background-color: var(--color-dark-pink);
}

.navbar__menu__item.active {
  border-color: var(--color-white);
}

/* Home */
#home {
  background: no-repeat center/cover url('./imgs/home/background.png');
  text-align: center;
  padding: 40px;
  padding-top: 120px;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border: 2px solid var(--color-light-white);
  border-radius: var(--border-radius-avatar);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  border: 2px solid var(--color-white);
  padding: 8px 12px;
  margin: 24px;
  color: var(--color-white);
  border-radius: var(--border-radius-button);
}

.home__contact:hover {
  background-color: var(--color-orange);
}

.section__container {
  text-align: center;
  padding: 50px;
  padding-top: 80px;
  max-width: 1200px;
  margin: auto;
}

/* About me */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  margin: auto;
  font-size: 70px;
  border-radius: var(--border-radius-avatar);
  border: 1px solid var(--color-blue);
  margin-bottom: 16px;
  color: var(--color-blue);
}

.major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(30deg) scale(1.1);
}

.major__icon i {
  transition: all var(--transition-duration) ease;
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-items: center;
}

.job img {
  width: 130px;
  height: 40px;
}

.job__description {
  margin: 0px 16px;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
  text-align: left;
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

/* Skills */
#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__left {
  background-color: var(--color-dark-grey);
  flex-basis: 60%;
  padding: 20px 40px;
}

.skillset__title {
  color: var(--color-white);
}

.skill {
  margin-bottom: 32px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-light-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  background-color: var(--color-light-grey);
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 20px;
}

.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--border-radius-button);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  top: 0;
  opacity: 1;
}

.category__count {
  border-radius: var(--border-radius-avatar);
  background-color: var(--color-orange);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: -15px;
  right: 16px;
  opacity: 0;
  transition: all var(--transition-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--transition-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  width: 270px;
  height: 250px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0;
  transition: all var(--transition-duration) ease-in;
  transform: translateY(10px);
}

.project:hover .project__description {
  opacity: 0.6;
  transform: translateY(0);
}

.project__description h3 {
  color: var(--color-orange);
}

.project__description h3:after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  margin: auto;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 38px 0;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: var(--border-radius-avatar);
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-button);
}

.testimonial__speech-bubble p {
  columns: var(--color-light-grey);
}

.testimonial__speech-bubble a {
  color: var(--color-pink);
}

#contact {
  background-color: var(--color-pink);
}

.contace__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contace__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 20px 0;
}

.contact__links i:hover {
  transform: scale(1.1);
  transition: all var(--transition-duration) ease-in;
}

.navbar__toggle-btn {
  position: absolute;
  top: 18px;
  right: 30px;
  font-size: var(--font-medium);
  color: var(--color-white);
  /* opacity: 0; */
  display: none;
}

.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: var(--font-large);
  background-color: var(--color-pink);
  color: var(--color-white);
  border-radius: var(--border-radius-avatar);
  opacity: 0;
  pointer-events: none;
  transform: opacity var(--transition-duration) ease;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 768px) {
  :root {
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .section__container {
    padding: 16px;
    padding-top: 40px;
  }

  #navbar {
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-pink);
  }

  /* .navbar__logo {
    align-self: flex-start;
  } */

  #navbar.navbar--dark {
    padding: 16px;
  }

  .navbar__menu {
    /* display: flex; */
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .navbar__toggle-btn {
    display: block;
    top: 16px;
    right: 16px;
  }

  .about__majors {
    /* display: flex; */
    flex-direction: column;
    margin: 40px;
    margin-bottom: 0;
  }

  .major {
    margin-bottom: 30px;
  }

  .skillset {
    /* display: flex; */
    flex-direction: column;
  }

  .category__btn {
    width: 100%;
    margin: 4px 0;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__speech-bubble {
    order: 1;
  }

  .testimonial__avatar {
    width: 120px;
    height: 120px;
  }

  .testimonial__avatar:nth-child(even),
  .testimonial__avatar:nth-child(odd) {
    margin: 0;
    margin-bottom: 6px;
  }

  .arrow-up {
    right: 16px;
    bottom: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: var(--font-medium);
  }
}
