body {
	background-color: #000;
	margin: 0;
}

.line {
	background-color: #fff;
	position: absolute;
}

.horizontal {
	width: 100%;
	height: 1px;
	top: 50%;
}

.vertical {
	width: 1px;
	height: 100%;
	left: 50%;
}

.target {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tag {
	color: #fff;
	font-size: 28px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(20px, 20px);
	/* margin: 20px;  js에서 수정함 */
}
